.Profile .section-principal {
  @apply grid gap-5 grid-cols-3 tablet:grid-cols-8;
}
.Profile .section-principal .profile-photo {
  @apply col-span-1 tablet:col-span-2;
}

.Profile .section-principal .profile-photo img {
  @apply w-full bg-purple_78 rounded-xl;
}

.Profile .section-principal .name .message__profile {
  @apply col-span-1 flex justify-center items-center gap-3 bg-dark_10 border border-dark_16 rounded-2xl px-5 py-2;
}

.Profile .section-principal .name .message__profile .state {
  @apply w-3 h-3 bg-green-600 rounded-full shadow-sm shadow-green-600;
  animation: fade-in 3s ease-in-out infinite;
}

.Profile .section-principal .name .message__profile p {
  @apply text-gray_46 text-sm font-light;
}

.Profile .section-principal .name {
  @apply col-span-2 tablet:col-span-3 flex gap-2 flex-col justify-center items-start;
}

.Profile .section-principal .name h2 {
  @apply text-gray_85 font-manrope text-xl font-semibold;
}

.Profile .section-principal .name .profession {
  @apply text-gray_40 text-sm font-light;
}

.Profile .section-principal .name .profession span {
  @apply text-purple_78 font-normal;
}

.Profile .section-principal .resume-cv {
  @apply hidden tablet:col-span-3 tablet:flex justify-end items-center h-fit gap-1;
}

.Profile .section-principal .resume-cv p {
  @apply text-gray_80 text-base font-light;
}

.Profile .section-principal .resume-cv .icon__resume-cv {
  @apply w-12 h-12 flex gap-0 justify-center items-center bg-dark_16 rounded-lg cursor-pointer;
}

.Profile .section-principal .resume-cv .icon__resume-cv img {
  @apply w-6 h-6;
}

.Profile .section-information {
  @apply p-5 mt-5 bg-dark_10 border border-dark_16 rounded-2xl flex gap-3 flex-wrap;
}

.Profile .section-chat {
  @apply mt-5 flex justify-between;
}

.Profile .section-chat .social-chat {
  @apply h-12  w-[48%] flex gap-3 justify-center items-center bg-dark_10 rounded-2xl border border-dark_16;
}

.Profile .section-chat .social-chat p {
  @apply text-gray_80 text-base font-light;
}

@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
