---
import Layout from "../layouts/Layout.astro"
import Stack from "../components/Stack.astro"
import '../styles/main.css'
---

<Layout title="castadev">
  <main class="principal-container">
    <section>
      <div>
        <Stack />
      </div>
      <div></div>
    </section>
    <section></section>
  </main>
</Layout>