---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
---

<Layout title="castadev">
	<main class="w-full flex justify-center items-center">
		<div class="content-layout h-full w-full lg:w-5/12  bg-gray-500">
			<div class="section-about w-full mt-6 h-fit bg-black rounded-lg">
				<About />
			</div>
			<div class="social-work w-full h-96 bg-green-400 my-3 rounded-lg"></div>
			<div class="study w-full h-96 bg-red-500 my-3 rounded-3xl"></div>
			<div class="projects w-full h-96 bg-blue-600 my-3 rounded-3xl"></div>
			<div class="contact w-full h-96 bg-blue-700 rounded-3xl"></div>
		</div>
	</main>
</Layout>
