---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Study from "../components/Study.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="castadev">
  <main class="main-content">
    <div class="main-content-it">
      <div class="main-content-about">
        <About />
      </div>
      <div class="main-content-experience">
        <Experience />
      </div>
      <div class="main-content-projects">
        <Projects />
      </div>
      <div class="main-content-study">
        <Study />
      </div>
      <div class="main-content-contact"></div>
    </div>
  </main>
</Layout>

<style>
  .main-content {
    @apply w-full flex justify-center items-center;

    .main-content-it {
      @apply  h-full w-11/12 max-w-5xl;
    }

    .main-content-about {
      @apply w-full mt-6 h-fit bg-primary rounded-lg;
    }

    .main-content-experience {
      @apply w-full h-fit flex items-center my-5 rounded-lg;
    }
    
    .main-content-study {
      @apply w-full h-full my-3 rounded-3xl;
    }

    .main-content-projects {
      @apply w-full h-[480px] my-3 rounded-xl mt-[80px] sm:mt-0;
    }

    .main-content-contact {
      @apply w-full  bg-blue-700 rounded-3xl h-96;
    }
  }
</style>
