---
import Layout from "../layouts/Layout.astro";
import Stack from "../components/Stack.astro";
import Work from "../components/Work.astro";
import Services from "../components/Services.astro";
import Stats from "../components/Stats.astro";
import flagIcon from "../assets/icons/flag.svg"
import meteorIcon from "../assets/icons/meteor.svg"
import happyIcon from "../assets/icons/happy.svg"
import "../styles/main.css";
---

<Layout title="castadev">
  <main class="layout-container">
    <section class="layout-left">
      <div class="left-section__top">
        <div class="top-content__primary">
          <div class="stock-box">
            <Stack />
          </div>
          <div class="works-box">
            <Work />
          </div>
        </div>
        <div class="top-content__secondary">
          <div class="stats-grid">
            <div class="stat-box">
              <Stats principalStat={10} titleStats={'Projects'} iconStats={flagIcon} />
            </div>
            <div class="stat-box">
              <Stats principalStat={5} titleStats={'Happy Clients'} iconStats={happyIcon} />
            </div>
            <div class="stat-box">
              <Stats principalStat={3} titleStats={'Year Expertise'} iconStats={meteorIcon} />
            </div>
            <div class="resume-box"></div>
          </div>
          <div class="profile-box"></div>
        </div>
      </div>
      <div class="left-section__bottom">
        <div class="bottom-content__primary">
          <div class="services-box">
            <Services />
          </div>
        </div>
        <div class="bottom-content__secondary">
          <div class="clients-box"></div>
        </div>
      </div>
    </section>
    <section class="layout-right">
      <div class="right-section__top">
        <div class="top-right__primary">
          <div class="testimonials-box"></div>
        </div>
        <div class="top-right__secondary">
          <div class="work-process-box"></div>
        </div>
      </div>
      <div class="right-section__bottom">
        <div class="bottom-right__content">
          <div class="follow-me-box"></div>
        </div>
        <div class="bottom-left__content">
          <div class="contact-box"></div>
        </div>
      </div>
    </section>
  </main>
</Layout>