---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
---

<Layout title="castadev">
	<main class="w-full flex justify-center items-center">
		<div class="content-layout w-full md:w-6/12  h-96 bg-red-500">
			<div class="section-about w-full mt-20 h-96">
				<About />
			</div>
			<div class="social-work w-full h-96 bg-blue-400 my-3"></div>
			<div class="study w-full h-96 bg-blue-500 my-3"></div>
			<div class="projects w-full h-96 bg-blue-600 my-3"></div>
			<div class="contact w-full h-96 bg-blue-700"></div>
		</div>
	</main>
</Layout>
