---
import { Image } from 'astro:assets'
import avatar from "../assets/img/avatar.png"
---

<div class="About">
    <div class="About-title">
        <h1 class="About-title_name">Victor Arroyave Castañeda</h1>
        <h2 class="About-title_description">Navigating code like a young explorer, blending creativity and logic to challenge the norm as a junior developer.</h2>
    </div>
    <div class="About-image">
        <Image class={"About-image_picture"} src={avatar} loading={'lazy'} alt="avatar image"/>
    </div>
</div>

<style>
    .About {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 items-center rounded-lg;
        .About-title {
            @apply w-full h-full flex flex-col justify-center ps-8 pt-8 px-4;
            .About-title_name {
                @apply font-anton text-4xl text-green_soft font-semibold uppercase animate-blurred-fade-in;
            }
            .About-title_description {
                @apply text-gray-400 pt-2;
            }
        }
        .About-image {
            @apply w-full h-full flex items-end justify-end;
            .About-image_picture {
                @apply w-80 h-80;
            }
        }
    }
</style>