---

---

<div class="About w-full h-full bg-gray-950">
    <div>
        <h1>Victor Arroyave Castañeda</h1>
        <h2>Front end developer JR</h2>
    </div>
    <div>
        <img src="https://avatars.githubusercontent.com/u/115094771" alt="avatar">
    </div>
</div>

