---
import Music from "./Music.astro";
import Location from "./Location.astro";
---

<div class="Contact">
  <div class="Contact__zone">
    <div class="social__container">
      <a href="" class="social mail">
        <div>
          <svg width="45" height="45" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
            <path fill="#000000" d="M45.59 2c-7.006 0-27.863 6.854-32.896 8.531C6.014 12.574 2 18.929 2 27.087v15.175l26.834 5.273v13.324L37.224 62l6.045-5.702V43.884L62 32.789V17.967C62 7.891 55.896 2 45.59 2M34.977 27.774l-1.947-1.421l1.249-2.608c.359 1.305.594 2.655.698 4.029m-24.775-9.558l20.324-1.831a19.993 19.993 0 0 1 3.107 5.407l-2.146 4.483l-.001.003l-.005.012l-2.104 4.667l-5.086-3.12l-14.623-9.455c.146-.083.322-.145.534-.166M8.233 41.574l4.68-2.058l.803 2.811c.035.124.091.234.136.352l-5.619-1.105m6.858.372l-6.09-21.308a2.559 2.559 0 0 1-.084-1.06l14.057 9.089l-2.384 4.629l-4.973 9.656a2.755 2.755 0 0 1-.526-1.006m1.753 1.736l4.58-8.894l2.76-5.358l5.136 3.148a.707.707 0 0 0 .251.09l.069.01c.02.001.038.007.058.007a.717.717 0 0 0 .652-.418l2.075-4.604l1.403 1.024l1.213.886v7.666L17.529 43.61a1.42 1.42 0 0 1-.685.072m3.73.318l12.563-4.57v7.038L20.574 44m14.744 15.849l-4.579-.623V47.908l4.302.846v.002l.277-.164v11.257m14.517-47.245l-10.733 4.005l.008 17.514l-2.601 1.262V8.019l13.333-4.51l-.007 9.095"/>
        </svg>
        </div>
      </a>
      <a href="" class="social discord">
        <div>
          <svg width="45" height="45" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
            <g fill="none">
                <rect width="256" height="256" fill="#5865F2" rx="60"/>
                <g clip-path="url(#skillIconsDiscord0)">
                    <path fill="#fff" d="M197.308 64.797a164.918 164.918 0 0 0-40.709-12.627a.618.618 0 0 0-.654.31c-1.758 3.126-3.706 7.206-5.069 10.412c-15.373-2.302-30.666-2.302-45.723 0c-1.364-3.278-3.382-7.286-5.148-10.412a.643.643 0 0 0-.655-.31a164.472 164.472 0 0 0-40.709 12.627a.583.583 0 0 0-.268.23c-25.928 38.736-33.03 76.52-29.546 113.836a.685.685 0 0 0 .26.468c17.106 12.563 33.677 20.19 49.94 25.245a.648.648 0 0 0 .702-.23c3.847-5.254 7.276-10.793 10.217-16.618a.633.633 0 0 0-.347-.881c-5.44-2.064-10.619-4.579-15.601-7.436a.642.642 0 0 1-.063-1.064a86.364 86.364 0 0 0 3.098-2.428a.618.618 0 0 1 .646-.088c32.732 14.944 68.167 14.944 100.512 0a.617.617 0 0 1 .655.08a79.613 79.613 0 0 0 3.106 2.436a.642.642 0 0 1-.055 1.064a102.622 102.622 0 0 1-15.609 7.428a.638.638 0 0 0-.339.889a133.075 133.075 0 0 0 10.208 16.61a.636.636 0 0 0 .702.238c16.342-5.055 32.913-12.682 50.02-25.245a.646.646 0 0 0 .26-.46c4.17-43.141-6.985-80.616-29.571-113.836a.506.506 0 0 0-.26-.238ZM94.834 156.142c-9.855 0-17.975-9.047-17.975-20.158s7.963-20.158 17.975-20.158c10.09 0 18.131 9.127 17.973 20.158c0 11.111-7.962 20.158-17.974 20.158Zm66.456 0c-9.855 0-17.974-9.047-17.974-20.158s7.962-20.158 17.974-20.158c10.09 0 18.131 9.127 17.974 20.158c0 11.111-7.884 20.158-17.974 20.158Z"/>
                </g>
                <defs>
                    <clipPath id="skillIconsDiscord0">
                        <path fill="#fff" d="M28 51h200v154.93H28z"/>
                    </clipPath>
                </defs>
            </g>
        </svg>
        </div>
      </a>
    </div>
    <div class="spotify__Content">
      <div class="spotify__logo_one">
        <svg width="38" height="38" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
          <g fill="#000000">
              <path d="M224 128a96 96 0 1 1-96-96a96 96 0 0 1 96 96Z" opacity=".2"/>
              <path d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24Zm0 192a88 88 0 1 1 88-88a88.1 88.1 0 0 1-88 88Zm31.07-46.26a8 8 0 0 1-10.81 3.33a42.79 42.79 0 0 0-40.52 0a8 8 0 0 1-7.48-14.14a59.33 59.33 0 0 1 55.48 0a8 8 0 0 1 3.33 10.81Zm32-56a8 8 0 0 1-10.83 3.29a110.62 110.62 0 0 0-104.46 0a8 8 0 0 1-7.54-14.12a126.67 126.67 0 0 1 119.54 0a8 8 0 0 1 3.28 10.85Zm-16 28a8 8 0 0 1-10.82 3.3a77.07 77.07 0 0 0-72.48 0a8 8 0 0 1-7.52-14.12a93 93 0 0 1 87.52 0a8 8 0 0 1 3.29 10.84Z"/>
          </g>
        </svg>
      </div>
      <div class="spotify__logo_two">
        <svg width="38" height="38" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <g fill="none">
              <circle cx="12" cy="12" r="9" fill="#000000" opacity=".16"/>
              <circle cx="12" cy="12" r="9" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 14v-4m0 0h-4m4 0l-4 4"/>
          </g>
        </svg>
      </div>
      <div class="content">
        <Music />
      </div>
      </div>
    </div>
  <div class="Contact__location">
    <Location />
  </div>
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .Contact {
    @apply w-full h-full grid grid-cols-1 grid-rows-2 md:grid-cols-12 md:grid-rows-1;
    .Contact__zone {
      @apply w-full h-fit flex flex-col col-span-4;
      .social__container {
        @apply w-full h-[50%] flex justify-center md:justify-start items-center gap-6;
        .mail {
          @apply bg-green_soft;
        }
        .discord {
          @apply bg-primary;
        }
        .social {
          @apply w-[9rem] h-28 flex justify-center items-center rounded-2xl;
        }
      }
    }
    .spotify__Content {
      @apply w-full lg:w-[92%] h-fit rounded-2xl relative bg-primary mt-[50px] md:mt-[20px];
      .spotify__logo_one svg {
        @apply absolute top-4 left-4;
      }
      .spotify__logo_two svg {
        @apply absolute top-4 right-4;
      }
      
    }
  }
  .Contact__location {
      @apply w-full h-full col-span-8 rounded-2xl overflow-hidden relative;
    }
</style>