---
import { Image } from 'astro:assets'
---

<div class="Experience grid gap-4 grid-cols-2 auto-cols-max">
    <div class="social-media">
        <div>instagram</div>
        <div>Pinterest</div>
        <div>Linkedin</div>
        <div>x</div>
    </div>
    <div class="work">
        <img src="" alt="">
        <h2>Melborp.art</h2>
        <p>IT Technician and Front-end JR developer</p>
    </div>
</div>