---
  import { Image } from "astro:assets";
  import avatar from "../assets/img/profile.png";

---

<div class="Location">
  <img src="https://api.mapbox.com/styles/v1/mapbox/dark-v11/static/-75.6014,6.1694,12.81,0/800x600?access_token=pk.eyJ1IjoiY2FzdGEwIiwiYSI6ImNscHQyaXZycjA4anAya3F4amhzcmNxYWYifQ.UN8w3O9PbrGhCFI2LLs5qA" alt="location" />
  <div class="containerUser">
    <Image src={avatar} alt="user" class="userImage" />
  </div>
</div>

<style>
  img {
    @apply w-full h-full rounded-2xl object-cover absolute;
  }
  .containerUser {
    box-shadow: 0 0 46px 6px #65d28e;
    animation: shadow 2s infinite ease;
    @apply w-14 h-14 bg-green_soft absolute z-10 left-60 rounded-full flex items-end justify-center overflow-hidden top-16;
  }
  .userImage {
    @apply w-16 h-16 object-cover absolute;
  }

  @keyframes shadow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  };
  }
</style>