---
import { Image } from 'astro:assets'
import '../styles/Single-block.css'

interface Props {
  iconUrl: ImageMetadata,
  techName: string,
  customClass?: string
}

const { iconUrl, techName, customClass = '' } = Astro.props
---

<div class={`Single-block ${customClass}`}>
  <div class="icon">
    <Image src={iconUrl} alt={techName} />
  </div>
  <p>{techName}</p>
</div>
